@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: vazir;
  src: url('./font_vazir.ttf');
}

@font-face {
  font-family: shabnam;
  src: url('./font_shabnam.ttf');
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  input {
    background: transparent;

    &:focus {
      outline: none 0;
    }

    &:focus-visible {
      outline: none 0;
    }
  }

  html {
    overflow-x: hidden;
    font-family: shabnam;
  }

  textarea {
    background: transparent;

    &:focus {
      outline: none 0;
    }

    &:focus-visible {
      outline: none 0;
    }
  }
}

@keyframes slide-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-show {
  from {
    transform: translateY(3rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-top {
  animation: slide-top 300ms 1;
}

.fade-show {
  animation: fade-show 700ms 1;
}
