@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: vazir;
  src: url("./font_vazir.ttf");
}
@font-face {
  font-family: shabnam;
  src: url("./font_shabnam.ttf");
}

input {
  background-color: transparent;

  &:focus {
    outline: none 0;
  }
  &:focus-visible {
    outline: none 0;
  }
}

html {
  overflow-x: hidden;
  font-family: shabnam;
}
