// Responsive Web Sizes
$xl: 1300px;
$lg: 1000px;
$md: 700px;
$sm: 500px;
$xs: 400px;
$xs2: 300px;

// Responsive Web Padding

$p-lg: 1.2rem;
$p-md: 1rem;
$p-sm: 0.8rem;
$p-xs: 0.5rem;
$p-xs2: 0.3rem;

// Colors

$light: #EDF5E1;
$light-green: #8EE4AF;
$green: #5CDB95;
$dark-green: #379683;
$dark: #05386B;
$link-color: #084683;
